# secrets:
#   MONGO_INITDB_ROOT_USERNAME:
#     file: ./secrets/MONGO_INITDB_ROOT_USERNAME
#   MONGO_INITDB_ROOT_PASSWORD:
#     file: ./secrets/MONGO_INITDB_ROOT_PASSWORD

services:

  proxy:
    container_name: ygp-resverse-proxy
    build:
      context: ./Frontend
      args:
        - VITE_API_URL=${PROD___VITE_API_URL}
        - VITE_API_NODE_ENV=${PROD___VITE_API_NODE_ENV}

    expose:
      - 5001
 
    restart: always

    healthcheck:
      test: [ "CMD", "curl", "-fk", "https://127.0.0.1:443/health" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s

    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ygp-caddy-data:/data
      - ygp-caddy-config:/config
    networks:
      - default


  server:
    build:
      context: ./Backend

    environment:
      - PORT=${PROD___PORT}
      - JWT_ACCESS_SECRET=${PROD___JWT_ACCESS_SECRET}
      - JWT_REFRESH_SECRET=${PROD___JWT_REFRESH_SECRET}
      - ENVIOREMENT=${PROD___ENVIOREMENT}
      - NODE_ENV=${PROD___NODE_ENV}
      - FRONT_URL=${PROD___FRONT_URL}
      - MONGO_INITDB_ROOT_USERNAME=${PROD___MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${PROD___MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${PROD___MONGO_INITDB_DATABASE}
      - BUCKET_NAME=${PROD___BUCKET_NAME}
      - BUCKET_REGION=${PROD___BUCKET_REGION}
      - BUCKET_ACCESS_KEY=${PROD___BUCKET_ACCESS_KEY}
      - BUCKET_SECRET_ACCESS_KEY=${PROD___BUCKET_SECRET_ACCESS_KEY}
      - CDN_DOMAIN=${PROD___CDN_DOMAIN}
      - CDN_PUBLIC_KEY_ID=${PROD___CDN_PUBLIC_KEY_ID}
      - CDN_PRIVATE_KEY=${PROD___CDN_PRIVATE_KEY}
      - EMAIL_HOST=${PROD___EMAIL_HOST}
      - EMAIL_PORT=${PROD___EMAIL_PORT}
      - EMAIL_SECURE=${PROD___EMAIL_SECURE}
      - EMAIL_USER=${PROD___EMAIL_USER}
      - EMAIL_PASS=${PROD___EMAIL_PASS}

    healthcheck:
      test: [ "CMD", "curl", "-f", "http://server-stage:${STAGE___PORT}/health" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s

    restart: always

    depends_on:
      - mongo
    networks:
      - default


  mongo:
    image: mongo:latest

    volumes:
      - ygp-mongo-data:/data/db
      - ./mongo_backups:/backup
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${PROD___MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${PROD___MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${PROD___MONGO_INITDB_DATABASE}

    command: mongod --logpath /dev/null # For no logs at all

    ports:
      - 27017:27017

    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.adminCommand('ping').ok"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s

    restart: always
    networks:
      - default


  db-backup:
    container_name: ygp-db-backup
    build:
      context: .
      dockerfile: Dockerfile.dbBackup
    environment:
      DB_HOST: ${PROD___MONGO_INITDB_ROOT_USERNAME}
      DB_USER: ${PROD___MONGO_INITDB_ROOT_USERNAME}
      DB_PASS: ${PROD___MONGO_INITDB_ROOT_PASSWORD}
      DB_NAME: ${PROD___MONGO_INITDB_DATABASE}

    volumes:
      - ./backups:/backups
    depends_on:
      mongo:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - default


volumes:
  ygp-caddy-data:  #  kenou caddy-prod-data:
  ygp-caddy-config:  #  kenou caddy-prod-config:
  mongo-prod-data:  #  kenou mongo-prod-data:

networks:
  default:
    name: ygp-network